* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 1200px;
  width: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  flex: 1 1 45%;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1em;
  color: #333;
}

input[type="text"], select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 16px;
  transition: all 0.3s ease;
}

input[type="text"]:focus, select:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 8px rgba(40, 167, 69, 0.2);
}

button.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

button.btn:hover {
  transform: translateY(-2px);
}

button.gerar-btn {
  background-color: #28a745;
  color: #fff;
}

button.gerar-btn:hover {
  background-color: #218838;
}

button.copiar-btn {
  background-color: #007bff;
  color: #fff;
}

button.copiar-btn:hover {
  background-color: #0056b3;
}

textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 16px;
  resize: none;
  margin-top: 10px;
  transition: all 0.3s ease;
}

textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.notification {
  visibility: hidden;
  min-width: 250px;
  background-color: #28a745;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: visibility 0s, opacity 0.5s ease-in-out;
  opacity: 0;
}

.notification.show {
  visibility: visible;
  opacity: 1;
}
